Input: a0||a1||a2||a3||a4||a5||a6||a7; msb: a0
Output: b0||b1||b2||b3||b4||b5||b6||b7; msb: b0
Time used to simplify the constraints: 0.8057 s
Number of constraints: 15
Constraints: ['b7 >= 1', 'b6 >= 1', '- b5 >= 0', '- b4 >= 0', '- b2 >= 0', '- b1 >= 0', 'b0 >= 1', '- a7 >= 0', '- a6 >= 0', '- a5 >= 0', '- a4 >= 0', '- a3 >= 0', 'a2 >= 1', '- a1 >= 0', 'a0 >= 1']
Weight: 
